<div class="container">
    <form [formGroup]="photoForm" (submit)="upload()" class="row">
      <div class="col-md-6 text-center">

        <div class="form-group" *ngIf="!photo; else previewPhoto">

            <button type="button" (click)="fileInput.click()" immediateClick class="btn btn-primary">
                <i class="fa fa-image fa-4x align-middle"></i>
            </button>
            <input 
                #fileInput
                hidden
                formControlName="file"
                (change)="onPhotoChange($event)"
                type="file" 
                accept="image/*">
            <app-vmessage
                text="Please, select a photo!"
                *ngIf="photoForm.get('file').errors?.required"
            ></app-vmessage>
        </div>
        <ng-template #previewPhoto>
            <div class="text-center">
                <app-photo [url]="photo" title="Preview">
                </app-photo>
            </div>
            <div *ngIf="fileStatus?.status==='progress'" class="progress mt-1">
                <div class="progress-bar bg-info" role="progressbar"
                  [style.width.%]="fileStatus?.percentage" aria-valuenow="0" aria-valuemin="0"
                  aria-valuemax="100">{{fileStatus?.percentage}}%</div>
              </div>
        </ng-template>

      </div>
  
      <div class="col-md-6">
        <div class="form-group">
          <textarea 
            formControlName="description"
            class="form-control form-control-sm" 
            placeholder="photo description"></textarea>
            <app-vmessage
                text="Maximun Length is 255!"
                *ngIf="photoForm.get('description').errors?.maxlength && photoForm.get('description').touched"
        ></app-vmessage>
        </div>
  
        <div class="form-group">
          <label class="text-muted">
            Allow comments
            <input 
                formControlName="allowComments"
                type="checkbox">
          </label>
        </div>
  
        <button [disabled]="photoForm.invalid"
            type="submit" class="btn btn-primary btn-block">
          Upload
        </button>
  
        <a class="btn btn-secondary btn-block">Cancel</a>
      </div>
    </form>
  </div>