<h4 class="text-center"> Register to embrace a new world!</h4>

<form [formGroup]="signupForm" class="form mt-4" (submit)="signup()">
    

    <div class="form-group">
        <input formControlName="firstName" #inputFirstName
            placeholder="first name" class="form-control">

        <app-vmessage text="First Name is required!"
            *ngIf="signupForm.get('firstName').errors?.required && signupForm.get('firstName').touched"></app-vmessage>
        <app-vmessage text="Minimum Length is 2!"
            *ngIf="signupForm.get('firstName').errors?.minlength && signupForm.get('firstName').touched"></app-vmessage>
        <app-vmessage text="Maximun Length is 20!"
            *ngIf="signupForm.get('firstName').errors?.maxlength && signupForm.get('firstName').touched"></app-vmessage>
    </div>

    <div class="form-group">
        <input formControlName="lastName"
            placeholder="last name" class="form-control">

        <app-vmessage text="Last Name is required!"
            *ngIf="signupForm.get('lastName').errors?.required && signupForm.get('lastName').touched"></app-vmessage>
        <app-vmessage text="Minimum Length is 2!"
            *ngIf="signupForm.get('lastName').errors?.minlength && signupForm.get('lastName').touched"></app-vmessage>
        <app-vmessage text="Maximun Length is 30!"
            *ngIf="signupForm.get('lastName').errors?.maxlength && signupForm.get('lastName').touched"></app-vmessage>
    </div>

    <div class="form-group">
        <input formControlName="email"
            placeholder="email" class="form-control" autofocus >
        <app-vmessage text="Email is required!"
            *ngIf="signupForm.get('email').errors?.required && signupForm.get('email').touched"></app-vmessage>
        <app-vmessage text="Invalid Email Address!"
            *ngIf="signupForm.get('email').errors?.email && signupForm.get('email').touched"></app-vmessage>
        
    </div>

    <div class="form-group">
        <input formControlName="username"
            placeholder="user name" class="form-control">

        <app-vmessage text="Username is required!"
            *ngIf="signupForm.get('username').errors?.required && signupForm.get('username').touched"></app-vmessage>
        <app-vmessage text="Minimum Length is 2!"
            *ngIf="signupForm.get('username').errors?.minlength && signupForm.get('username').touched"></app-vmessage>
        <app-vmessage text="Maximun Length is 30!"
            *ngIf="signupForm.get('username').errors?.maxlength && signupForm.get('username').touched"></app-vmessage>
        <app-vmessage text="Must be lower case"
            *ngIf="signupForm.get('username').errors?.lowerCase && signupForm.get('username').touched"></app-vmessage>
        <app-vmessage
            text="Username already taken"
            *ngIf="signupForm.get('username').errors?.userNameTaken && signupForm.get('username').touched">
        </app-vmessage>
        <small *ngIf="signupForm.get('username').valid" class="text-success">User available</small>
            
    </div>

    <div class="form-group">
        <input 
            formControlName="password"
            type="password" placeholder="password" class="form-control">

        <app-vmessage text="Password is required!"
            *ngIf="signupForm.get('password').errors?.required && signupForm.get('password').touched"></app-vmessage>
        <app-vmessage text="Minimum Length is 8!"
            *ngIf="signupForm.get('password').errors?.minlength && signupForm.get('password').touched"></app-vmessage>
        <app-vmessage text="Maximun Length is 20!"
            *ngIf="signupForm.get('password').errors?.maxlength && signupForm.get('password').touched"></app-vmessage>
        
    </div>

    <button 
        [disabled]="signupForm.invalid || signupForm.pending"
        class="btn btn-primary btn-block">Register</button>

    <p>Already a user?<a [routerLink]="['']">Sign In!</a></p>
</form>